@{
    Layout = "../content-layout.cshtml";
}
@using Alipig.Framework.Util
@using Alipig.Framework.Web.Html
<style>
#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#sortable li span { position: absolute; margin-left: -1.3em; }
</style>
<ul id="sortable" class="row-fluid ui-sortable">
    @foreach (var item in Model)
    {
         <li class="ui-state-default well" title="权限代码：@item.Code" style="position: relative;" rel="@item.ID"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>[@HtmlUtils.PermissionItemDisplayStyleToText(item.DisplayStyle)]@item.DisplayName</li>
    }
</ul>
@section JavaScript
{
    <script>
        $(document).ready(function () {
            $("#sortable").sortable({
                revert: true,
                cancel: '.btn,.box-content,.nav-header',
                update: function (event, ui) {
                    //line below gives the ids of elements, you can make ajax call here to save it to the database
                    //console.log($(this).sortable('toArray'));
                    var ids = $("#sortable li").map(function () { return $(this).attr("rel"); }).get();
                    $.post("/permission/saveitemorder", { ids: ids.join(",") },
                    function (data) {
                        notyu.tip(data.msg, data.code);
                    }, "json");
                }
            });
        });
    </script>
}
